@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;


  --text-primary: @apply{
    bg-gradient-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent
  }
  
 }

 .bg-gradient{
  background:linear-gradient(to right, #632EE3, #9F62F2); 
  color: white;
 }




 *{
    font-family: "Inter", sans-serif;

 }